* {
    box-sizing: border-box;
 }
 html {
    background-color: #e7e8de;
    font-family: 'Josefin Sans', sans-serif;
    scroll-behavior: smooth;
 }
 header {
     height: 69px;
     width: 100%;
     background-color: #bccfda;
     display: flex;
     justify-content: space-between;
     align-items: center;
     align-content: center;
     position: fixed;
     z-index: 10;
 }
 header img {
     height: 50px;
     margin-left: 1%;
 }
 header nav {
     width: 25%;
     display: flex;
     justify-content: space-between;
     margin: 0 1%;
 }
 header a {
     font-weight: 600;
     color: #e7e8de;
     background-color: transparent;
     border: transparent;
     font-size: 1.3vw;
     padding: 0;
 }
 #main-content,
 footer {
     position: relative;
     top: 69px;
 } 
 #mission {
     background-image: url(../images/img-mission-background-3.jpg);
     display: flex;
     justify-content: center;
     align-items: center;
     align-content: center;
     padding: 15% 5%;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     width: 100%;
 }
 #mission .content {
     color: #e7e8de;
     text-align: center;
     display: inline-block;
 }
 #mission h2{
     font-size: 5vw;
  font-weight: 600;
  margin-bottom: 2%;
 }
 #mission h4 {
   font-weight: 400;
   font-style: italic;
   font-size: 2vw;
 }
 #tea {
     margin: 5% auto;
     width: 89%;
     display: flex;
     justify-content: center;
     align-content: center;
     flex-direction: column;
     font-family: 'Josefin Sans', sans-serif;
     color: #303339;
 }
 #tea .images {
     display: flex;
     justify-content: center;
     align-items: center;
     align-content: space-around;
     flex-wrap: wrap;
 }
 #tea .img-box {
     width: 27%;
     margin: 1.5%;
 }
 #tea .img-box h2 {
   text-align: center;
   font-weight: 600;
   font-size: 1.2vw;
 }
 #tea img {
     width: 100%;
 }
 #tea .text {
     text-align: center;
 }
 #tea .text h2{
     font-weight: 600;
     font-size: 5.5vw;
     margin-bottom: 2%;
 }
 #tea .text h4{
     font-weight: 400;
     font-style: italic;
     font-size: 2.5vw;
 }
 #locations {
     background-image: url(../images/img-locations-background-2.JPG);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     width: 100%;
     color: #e7e8de;
     text-align: center;
     padding: 10% 15%;
 }
 #locations .locs {
   display: flex;
   justify-content: space-between;
   align-items: center;
   align-content: center;
 }
 #locations .loc {
     line-height: 2;
 }
 #locations .content {
     font-size: 5vw;
     font-weight: 600;
     margin-bottom: 5%;
 }
 #locations .loc {
     font-size: 2vw;
 }
 footer {
     background-color: #bccfda;
     padding: 1% 2%;
     display: flex;
     justify-content: space-between;
     align-content: center;
     align-items: center;
 }
 footer h4 {
   font-size: 1vw;
 }
 footer h1 {
  font-size: 2.5vw;
  font-weight: 600;
  font-style: italic;
  position: relative;
  left: 6%;
 }
 footer .contact {
     font-size: 1vw;
     line-height: 1.5;
     display: flex;
     width: 20%;
     justify-content: space-between;
 }
 @media only screen and (max-width: 1250px) and (min-width: 800px) {
     header a {
         font-size: 1.8vw;
     }
     header nav {
         width: 35%;
     }
     #mission h2{
         font-size: 6vw;
     }
     #mission h4 {
       font-size: 2.5vw;
     }
     #tea {
         margin: 5% auto;
         width: 90%;
      }
      #tea .img-box {
         width: 30%;
      }
      #tea .img-box h2 {
       font-size: 2.2vw;
      }
      #tea .text h2{
         font-size: 7vw;
      }
      #tea .text h4{
         font-size: 3vw;
      }
    }
    @media only screen and (max-width: 800px) and (min-width: 650px) {
        header a {
            font-size: 2.5vw;
        }
        header nav {
            width: 45%;
        }
        #mission h2{
            font-size: 6vw;
        }
        #mission h4 {
          font-size: 2.5vw;
        }
        #tea {
            margin: 5% auto;
            width: 95%;
         }
         #tea .img-box {
            width: 30%;
         }
         #tea .img-box h2 {
          font-size: 2.7vw;
         }
         #tea .text h2{
            font-size: 9vw;
         }
         #tea .text h4{
            font-size: 4vw;
         }
         #locations {
            padding: 10% 10%;
        }
        #locations .content {
            font-size: 7vw;
        }
        #locations .loc {
            font-size: 2.5vw;
        }
        footer h4 {
            font-size: 1.5vw;
          }
          footer h1 {
           font-size: 3vw;
          }
          footer .contact {
              font-size: 1.5vw;
              width: 30%;
          }
    }
    @media only screen and (max-width: 650px) and (min-width: 10px) {
        header a {
            font-size: 3vw;
        }
        header nav {
            width: 50%;
        }
        #mission h2{
            font-size: 7vw;
        }
        #mission h4 {
          font-size: 3vw;
        }
        #tea {
            margin: 5% auto;
            width: 95%;
         }
         #tea .img-box {
            width: 30%;
         }
         #tea .img-box h2 {
          font-size: 2.7vw;
         }
         #tea .text h2{
            font-size: 9vw;
         }
         #tea .text h4{
            font-size: 4vw;
         }
         #locations {
            padding: 10% 5%;
        }
        #locations .content {
            font-size: 8vw;
        }
        #locations .loc {
            font-size: 3vw;
        }
        footer h4 {
            font-size: 2.5vw;
          }
          footer h1 {
              display: none;
          }
          footer .contact {
              font-size: 2.5vw;
              width: 62%;
          }
    }
    